@use "./variables" as *;
//reset
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

//common

body{
    font-family: 'Quicksand', sans-serif;
}
//flex proprieties
.fl{
    display: flex;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

section{
    width: 100%;
    padding: 1rem 0rem;
}

ul{
    list-style-type: none;
    height: 100%;
}

ul li{
    display: inline;
    margin-right: 5px;
    
}

a{
    text-decoration: none;
    color: inherit;
    transition: 200ms;
}

//----------------------------------------------------------------------------------
//header
.nav-active{
    color: $primary;
}